{% extends 'navbar.html' %}
{% block body %}
<div class="container" align="center">
<table class="table" align="center">
    <h1 align="center">Mark Attendance</h1>
    <form  method="post">
        {% csrf_token %}
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="P">Present</option>
            <option value="A">Absent</option>
        </select>

            <label>Students:</label>
            {% for student in students %}
            <input type="checkbox" name="student_ids" value="{{ student.id }}">
        <td>{{ student.name }}</td>
            {% endfor %}
            <input type="submit"  value="Mark_attendance">

    </form>
    </table>
    </div>
{% endblock %}

